**/*.zip


# PythonProject
PythonProject/.idea
**/*.pyc
**/*.pt
**/*.onnx
PythonProject/demo_*/*
# 下次提交ultralytics库
PythonProject/ultralytics


# CppProject
CppProject/3rdparty
CppProject/3rdparty(other version)
CppProject/*/build
CppProject/*/cmake-build-debug
**/.vs
**/.idea
**/build


